#shopping-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
  overflow: hidden;
  background-color: white;
  transition: right 0.3s ease;
}
#nav-prod {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    @media (max-width: 768px) {
      display: none;
    }
  }

  /* filepath: c:\Users\HP\OneDrive\Desktop\bng---portal\bng\Vendor-Portal\src\app\pages\shopping-cart\shopping-cart.component.scss */
  .search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: transparent;
  }

  .search-input::placeholder {
    color: #aaa;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--color-blue);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .search-button:hover {
    background-color: #0056b3;
  }
}

#search-section {
  padding: 0.2rem;
  width: 35rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-radius: 2rem;
  justify-content: space-between;
  background-color: var(--color-card);

  // @media (max-width: 768px) {
  //   display: none;
  // }

  #prod-search {
    width: 85%;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--color-card);

    &:focus {
      border: none !important;
      outline: none !important;
    }
  }

  #search-btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    color: var(--color-blue);
    background-color: white;
  }
}

#cartNavIcons {
  gap: 1.5rem;
  @media (max-width: 768px) {
    gap: 0.4rem;
  }
  #sortByBody {
    width: 12.5rem;

    @media (max-width: 768px) {
      width: 0;
      display: none;
    }

    .sortBy {
      width: fit-content;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  #toggleSortByMobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

#cartNavCollapse {
  #sortByCollapse {
    padding-block: 0.5rem;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

#shopping-section {
  display: grid;
  grid-template-columns: 15rem auto;
  flex-grow: 1;
  overflow: hidden;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.category-btn-section {
  display: grid;
  grid-template-columns: 15rem auto;

  // @media (max-width: 768px) {
  //   grid-template-columns: 1fr;
  // }

  .category-box {
    height: 100%;
    width: fit-content;
    margin-left: 1rem;

    .category-btn {
      width: 13rem;
      height: 100%;
      color: white;
      border-radius: 0.5rem;
    }
  }
}

#filterTop {
  display: flex;
  padding-block: 0.5rem;
  gap: 0.4rem;

  .category-box {
    width: 14.5rem;

    button {
      width: 14rem;
      border-radius: 0.5rem;
      background-color: #a0eda7;
    }

    .dropdown-menu {
      width: 14rem !important;
    }
  }

  .dropdown-menu {
    background-color: #e6f9e7;
    border: none;
  }

  #filterTopContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    #listContainer {
      width: 100%;
      position: relative;

      #filterList {
        position: absolute;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.8rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 0.8rem;
        border: 2px solid white;
        background-color: #e6f9e9;
        border-radius: 0.5rem;
        transition: all 0.4s ease-in-out;
      }

      .list-open {
        min-height: 2.5rem;
        height: fit-content;
        overflow-y: scroll;
        max-height: 40rem;
      }

      .list-close {
        overflow-y: hidden;
        height: 100%;
      }
    }
  }
}
#filterTop.screen {
  @media (max-width: 768px) {
    display: none;
  }
}
#filterTop.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.bi {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.option-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 8px;
  position: relative;
}

.shown-options {
  flex: 1;
  display: flex;
  gap: 10px;
}

.option-btn {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.arrow-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.dropdown-panel {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 4px;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-panel.show {
  // display: block;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.category-side-menu {
  overflow-y: auto;
  padding: 1rem;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.checkbox-title {
  margin-top: 1rem;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 0.7rem;
    }
  }
}

.option-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.4rem;
  column-gap: 0.8rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  // border-bottom: 1px solid var(--border-grey);s

  .checkbox-container {
    display: flex;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    align-items: center;
    border-radius: 2rem;
    background-color: #dce1fa66;

    .checkbox {
      font-size: 0.8rem;

      input::focus {
        background-color: var(--color-blue);
      }
    }
  }
}
.card-section {
  background-color: var(--color-card);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    width: 100%;
    margin-block: 0.8rem;
    row-gap: 2rem;
    height: fit-content;
    justify-content: center;

    .product-card:hover {
      box-shadow: 0 10px 20px rgba(22, 78, 127, 0.3),
        0 6px 6px rgba(22, 78, 127, 0.2);
      transform: translateY(-5px) scale(1.02);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      z-index: 10;
      border-radius: 8px;
    }

    .product-card {
      transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transform: translateY(0);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      .img-container {
        position: relative;
        overflow: hidden; /* Ensures the image stays within the container */
        width: 100%; /* Ensures the container takes full width */
        height: 200px; /* Set a fixed height for the container */
        border-radius: 8px; /* Optional: Adds rounded corners */
      }

      img {
        width: 90%; /* Ensures the image scales to the container's width */
        height: 100%; /* Ensures the image scales to the container's height */
        object-fit: cover; /* Ensures the image covers the container without distortion */
        object-position: center;
      }
    }
  }
}

.product-card {
  text-wrap: wrap;
  height: fit-content;
  margin-inline: auto;
  width: 23rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  padding: 1.3rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  img {
    border-radius: 1rem;
    // width: 300px;
  }

  @media (max-width: 768px) {
    max-width: 100vw;
  }
  .card-content {
    margin-top: 1.2rem;
    text-align: left;
  }
}

.cart-container {
  position: relative;
  display: flex;

  .cart-icon {
    font-size: 20px;
    color: var(--color-blue);
  }

  .cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    padding-top: 2px;
    color: white;
    font-size: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
  }
}

.custom-modal-header {
  background-color: var(--color-blue);
  color: #fff;
  padding: 0.5rem 1rem !important;
  border-bottom: none;
}

.custom-modal-header .modal-title {
  font-size: 1rem;
  margin: 0;
}

.custom-modal-header .btn-close {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
}

.custom-modal-body {
  background-color: #f5f5f5;
  padding: 1rem;
}

.custom-modal-size {
  width: 95vw;
  max-width: 1200px;
  height: 80vh;
  max-height: 800px;
}

.modal-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.custom-modal-header {
  background-color: var(--color-blue);
  border-bottom: 1px solid #e9ecef;
}

.custom-modal-body {
  overflow-y: auto;
}

.table-responsive {
  max-height: calc(80vh - 200px);
  min-height: 300px;
}

.btn-outline-secondary {
  border-color: #dee2e6;
}

.btn-outline-secondary:hover {
  background-color: #f8f9fa;
}

.custom-rounded-btn {
  border-radius: 1.25rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 4px;
  /* margin-bottom: 1rem; */
}
.qunty-btn{
  background-color: var(--color-qunty-btn);
}

th {
  padding: 12px;
  text-align: center;
}

td {
  padding: 12px;
  text-align: left;
  border-top: 1px solid #ddd;
}

.radio-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 60px; // collapsed height

  &.expanded {
    flex-wrap: wrap;
    max-height: 300px; // expanded height
  }

  .radio-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
  }

  .radio-item {
    display: flex;
    align-items: center;
  }

  .toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bord {
  border: 2px solid red !important;
}

.scrollable-items {
  max-height: 200px; 
  overflow-y: auto; 
  padding-right: 10px; 
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent; 

  &::-webkit-scrollbar {
    width: 8px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 4px; 
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; 
  }
}
