#form-cart-container {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

#shopping-cart {
  position: absolute;
  top: 0;
  transform: translateX(101%);
  width: 100%;
  transition: all 0.6s ease-out;

  &.show {
    transform: translateX(0);
  }
}

#shopping-cart-btn {
  width: 4rem;
  height: 3rem;
  position: absolute;
  top: 2rem;
  right: -1rem;
  color: white;
  background-color: var(--color-blue);
  border-radius: 0.4rem;
  transition: all 0.4s ease-in-out;

  &.show {
    display: none;
  }
}

.bord {
  border: 1px solid red !important;
}
