<section id="login-page" class="">
  <section
    class="w-100 d-flex justify-content-end align-items-center py-3 px-4"
  >
    <app-theme-toggle></app-theme-toggle>
  </section>
  <section id="login-main" class="">
    <section id="img-section" class="">
      <img src="/assets/images/vendor_loginpage_img.svg" alt="" />
      <div class="img-info text-center">
        <!-- <h6 class="fw-semibold">© BNG Infotech Private Limited</h6> -->
        <span class="">
          A centralized platform that streamlines communication between vendors
          and customers, allowing vendors to manage orders, update products,
          track deliveries, and respond to customer needs in real-time.
        </span>
      </div>
    </section>
    <section id="login-section">
      <div class="login-content">
        <span class="fs-5 fw-bold" style="color: var(--primary-text)"
          >Efacto</span
        >
        <!-- <h2 class="fw-bold">Welcome to Portal</h2> -->
        <div class="text-start">
          <span
            class="fs-4 font-bold fw-semibold"
            style="color: var(--color-blue)"
            >Log in</span
          ><br />
          <span>to access Portal</span>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div class="input-field">
            <!-- <label for="email">Email</label><br /> -->
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              [(ngModel)]="model.email"
              #email="ngModel"
              required
              email
            />
            <div *ngIf="email.touched && email.invalid" class="error-text">
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">
                Please enter a valid email.
              </div>
            </div>
          </div>

          <!-- Password Field -->
          <div class="input-field">
            <!-- <label for="password">Password</label><br /> -->
            <div class="input-aria">
              @if(hidepassword) {
              <i class="bi bi-eye-fill" (click)="togglePassword()"></i>
              } @else {
              <i class="bi bi-eye-slash-fill" (click)="togglePassword()"></i>
              }
              <input
                [type]="hidepassword ? 'password' : 'text'"
                name="password"
                id="password"
                placeholder="Enter your passwords"
                [(ngModel)]="model.password"
                #password="ngModel"
                required
              />
            </div>
            <!-- <div class="input-field">
                <label>Select User Type:</label>
                <div class="">
                  <input
                    class=""
                    type="radio"
                    name="userType"
                    id="vendorRadio"
                    value="vendor"
                    [(ngModel)]="model.userType"
                  />
                  <label class="form-check-label" for="vendorRadio">
                    Vendor
                  </label>
                </div>

                <div class="form-check">
                  <input
                    class=""
                    type="radio"
                    name="userType"
                    id="customerRadio"
                    value="customer"
                    [(ngModel)]="model.userType"
                  />
                  <label class="form-check-label" for="customerRadio">
                    Customer
                  </label>
                </div>
              </div> -->
            <div
              *ngIf="password.touched && password.invalid"
              class="error-text"
            >
              <div *ngIf="password.errors?.['required']">
                Password is required.
              </div>
            </div>
          </div>

          <!-- Forgot password -->
          <div class="controls">
            <small>Forgot password?</small>
          </div>

          <!-- Login Button -->
          <button type="submit" id="login-btn" [disabled]="loginForm.invalid">
            Login
          </button>
        </form>

        <div class="company-details">
          <!-- <!-- <small>Simplified Retail & Distribution ERP Solution</small> -->
          <h6 class="fw-semibold">© BNG Infotech Private Limited</h6>
        </div>
      </div>
    </section>
  </section>
  <small class="pb-3" style="color: var(--primary-text)"
    >© 2025, BNG Pvt.Ltd. All Right Reserved.</small
  >
</section>
