<section id="login-page" class="">
  <section
    class="w-100 d-flex justify-content-end align-items-center py-3 px-4"
  >
    <app-theme-toggle></app-theme-toggle>
  </section>

  <!-- Main login layout -->
  <section id="login-main" class="d-flex form-conainer">
    <!-- Image Section (now on the right) -->

    <!-- Login Section (now on the left) -->
    <section id="login-section">
      <div class="login-content">
        <img src="/assets/efacto.webp" alt="Logo" class="logo w-25 mb-4" />

        <div class="text-detls d-flex flex-column">
          <!--  <span class="fs-5 fw-bold" style="color: var(--primary-text)">Efacto</span> -->

          <span
            class="fs-4 font-bold fw-semibold"
            style="color: var(--primary-text)"
            >Log in</span
          ><br />
          <span class="">to access Portal</span>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <!-- Email Field -->
          <div class="input-field">
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email address"
              [(ngModel)]="model.email"
              #email="ngModel"
              required
              email
              [readonly]="submittedEmail"
            />
            <div *ngIf="email.touched && email.invalid" class="error-text">
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['email']">
                Please enter a valid email.
              </div>
            </div>
          </div>
          <button
            *ngIf="!showPasswordField"
            type="button"
            (click)="onNextStep(email)"
            class="btn btn-full-width"
            style="background-color: var(--color-blue)"
          >
            Next
          </button>

          <!-- Password Field & Login Button -->
          <div *ngIf="showPasswordField">
            <div class="input-field">
              <div class="input-aria">
                <i
                  class="bi"
                  [ngClass]="{
                    'bi-eye-fill': hidepassword,
                    'bi-eye-slash-fill': !hidepassword
                  }"
                  (click)="togglePassword()"
                ></i>
                <input
                  [type]="hidepassword ? 'password' : 'text'"
                  name="password"
                  id="password"
                  placeholder="Enter your password"
                  [(ngModel)]="model.password"
                  #password="ngModel"
                  required
                />
              </div>
              <div
                *ngIf="password.touched && password.invalid"
                class="error-text"
              >
                <div *ngIf="password.errors?.['required']">
                  Password is required.
                </div>
              </div>
            </div>

            <!-- Forgot Password -->
            <div class="controls">
              <small>Forgot password?</small>
            </div>

            <!-- Submit Button -->
            <button type="submit" id="login-btn" [disabled]="loginForm.invalid">
              Login
            </button>
          </div>
        </form>

        <!-- Company Details -->
        <div class="company-details">
          <h6 class="fw-semibold">© BNG Infotech Private Limited</h6>
        </div>
      </div>
      <div class="vertl-ln"></div>
    </section>
    <!-- Image Section (now on the right) -->
    <span class="vrt-line"></span>
    <section id="img-section" class="carousel h-100">
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div>
            <img src="/assets/images/vendor_loginpage_img.svg" alt="Image 1" />
            <div class="img-info text-center">
              <span class="fw-semibold" style="color: #727070">
                A centralized platform that streamlines communication between
                vendors and customers, allowing vendors to manage orders, update
                products, track deliveries, and respond to customer needs in
                real-time.
              </span>
            </div>
          </div>
        </div>
        <!-- Second Slide -->
        <div class="carousel-item">
          <div>
            <img src="/assets/images/login.jpg" alt="Image 2" />
            <div class="img-info text-center">
              <span class="fw-semibold" style="color: #727070">
                Enhance your business operations with real-time insights and
                seamless collaboration.
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Custom Carousel Indicator -->
      <div class="carousel-indicator">
        <div class="indicator-bar" [style.width.%]="indicatorWidth"></div>
      </div>
    </section>
  </section>

  <!-- Footer -->
  <small class="pb-3" style="color: #727070">
    © 2025, BNG Pvt.Ltd. All Right Reserved.
  </small>
</section>
