<aside
  [ngClass]="{ 'sidenav-open': isOpen, 'sidenav-closed': !isOpen }"
  class="sidenav"
>
  <div>
    <div class="sidenav-header">
      <button
        (click)="toggleSidenav()"
        class="toggle-btn d-flex justify-content-center"
        aria-label="Toggle sidenav"
      >
        <i
          class="fa-solid"
          [ngClass]="isOpen ? 'fa-arrow-left' : 'fa-arrow-right'"
        ></i>
      </button>
    </div>
    <nav class="sidenav-menu">
      <ul>
        <li *ngFor="let item of currentMenu" class="menu-item">
          <a
            [routerLink]="item.route"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="menu-link"
            [attr.data-bs-toggle]="item.submenu ? 'collapse' : null"
            [attr.data-bs-target]="
              item.submenu ? '#collapse-' + item.text.toLowerCase() : null
            "
          >
            <i class="{{ item.icon }}"></i>
            <span class="menu-text" [ngClass]="{ 'd-none': !isOpen }">{{
              item.text
            }}</span>
            <i
              *ngIf="item.submenu && isOpen"
              class="bi-chevron-down arrow"
              [ngClass]="{ 'arrow-up': isOpen }"
            ></i>
          </a>
          <div
            *ngIf="item.submenu"
            [id]="'collapse-' + item.text.toLowerCase()"
            class="collapse"
            [ngClass]="{ show: item.isSubmenuOpen }"
          >
            <ul class="submenu">
              <li *ngFor="let subitem of item.submenu" class="submenu-item">
                <a
                  [routerLink]="subitem.route"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [ngClass]="[isOpen ? 'submenu-link' : 'submenu-link-close']"
                >
                  <i class="{{ subitem.icon }}"></i>
                  <small class="menu-text" [ngClass]="{ 'd-none': !isOpen }">{{
                    subitem.text
                  }}</small>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <nav class="sidenav-menu">
    <ul>
      <li class="menu-item">
        <a routerLink="['/login']" class="logout-btn bord">
          <i class="fa-solid fa-power-off"></i>
          <span class="menu-text" [ngClass]="{ 'd-none': !isOpen }"
            >Logout</span
          >
        </a>
      </li>
    </ul>
  </nav>
</aside>
