.sidenav {
  background-color: #f8f9fa;
  transition: width 0.3s ease-out;
  overflow-x: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav-open {
  width: 196px;
}

.sidenav-closed {
  width: 55px;
}

.sidenav-header {
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidenav-menu {
  padding: 8px;
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.menu-item {
  list-style: none;
}

.menu-link {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  text-decoration: none;
  border-radius: 0.4rem;
  transition: background-color 0.3s;
  height: 2.5rem;
  font-size: 0.9rem;

  &:hover {
    background-color: var(--color-blue);
    color: white;
  }

  i {
    font-size: 1rem;
    text-align: center;
    margin-left: 11px;
  }

  .icon {
    width: 30px;
    display: flex;
    justify-content: center;
  }

  .menu-text {
    margin-left: 0.6rem;
    text-wrap-mode: nowrap;
    flex: 1;
  }

  .arrow {
    font-size: 0.9rem;
  }
}

.menu-link-open {
  // padding: 0.8rem;
}

.menu-link-close {
  // justify-content: center;
}

.menu-link.active-link {
  background-color: var(--color-blue);
  color: white;
}

.submenu {
  margin-top: 0.5rem;
  padding-left: 30px;

  .submenu-item {
    list-style: none;
  }

  .submenu-link {
    display: flex;
    align-items: center;
    color: #555;
    text-decoration: none;
    margin-left: 1.5rem;
    border-radius: 0.4rem;
    padding: 0.4rem;

    &:hover {
      background-color: var(--color-blue);
      color: white;
    }

    i {
      font-size: 1rem;
    }

    .menu-text {
      margin-left: 10px;
    }
  }
  .submenu-link-close {
    display: flex;
    align-items: center;
    color: #555;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.4rem;
    padding-block: 0.4rem;

    &:hover {
      background-color: var(--color-blue);
      color: white;
    }

    i {
      font-size: 1rem;
    }

    .menu-text {
      margin-left: 10px;
    }
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  color: var(--primary-text);
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 0.4rem;
  transition: background-color 0.3s;
  height: 2.5rem;

  &:hover {
    background-color: var(--color-blue);
    color: white;
  }

  i {
    text-align: center;
  }

  .menu-text {
    margin-left: 0.8rem;
    flex: 1;
  }
}
.logout {
  margin-left: 20px;
}
.d-none {
  display: none !important;
}

.bord {
  border: 1px solid red;
}
