.bord {
  border: 1px solid red;
}
#nav {
  background-color: var(--color-card);
  color: var(--primary-text);

  .nav-icons {
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
.menu-toggler {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

#navcollapse {
  @media (min-width: 768px) {
    display: none;
  }
}
